* {
    box-sizing: border-box;
}

body {
    background: radial-gradient(circle, rgba(245, 168, 25, 0.664) 5%, rgb(43, 36, 2) 100%);
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    color: #fff;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px 0 rgb(0, 0, 0, 0.973), 0 6px 20px 0 rgba(0, 0, 0, 0.973);
    background-image: url(try3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

}

nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    justify-content: center;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 1px;
    font-size: 16px;
    max-width: min-content;
}


.dropdown {
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: black;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
    border-radius: 5%;
}

.dropdown-content a {
    color: #fff;
    text-decoration: none;
    display: block;

}

.dropdown-content a:hover {
    background-color: #ddd;
}

li:hover {
    box-shadow: 0 4px 8px 0 rgba(240, 0, 0, 0.973), 0 6px 20px 0 rgba(255, 0, 0, 0.973);


}

li {
    padding: 20px;
    border-radius: 20px;
    background-image: url(try3.jpg);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.973), 0 6px 20px 0 rgba(0, 0, 0, 0.973);
    margin: 10px;

}

.active {
    color: red;
    font-size: 15px;
    font-weight: bold;

    /* background-image:url(try3.jpg);
    padding: 20px;
    border-radius: 20px; */
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.973), 0 6px 20px 0 rgba(0, 0, 0, 0.973); */
}

.logo {
    align-items: center;
    justify-content: center;
    display: flex;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.973), 0 6px 20px 0 rgba(0, 0, 0, 0.973);
    border-radius: 50%;
    margin-top: 20px;
}

.main-container{
    margin-top:250px;
}
.container{
    margin-top: 20px;
    padding:20px;
    background-color: #fff;
    margin-left:10%;
    margin-right:10%;
    border-radius: 2%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.973), 0 6px 20px 0 rgba(0, 0, 0, 0.973);
   
}
.container h1,h4, h3{
    text-align: center;
    font-family: 'Noto Sans Symbols', sans-serif;
}
.container img{
    text-align: center;
    width: 100%;
    height:auto;
}
.container p{
    text-align: justify;
    font-family: 'Noto Sans Symbols', sans-serif;
}


  
  /* Footer */
  .footer {
    
    padding: 20px;
    text-align: center;
    background: #ddd;
    margin-top: 20px;
  }
  
 
  
  /* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
  @media screen and (max-width: 400px) {
    .topnav a {
      float: none;
      width: 100%;
    }
  }