body {

    background-color: rgb(12, 10, 0);
    /* background-image: url(UoPVAO7eDGcaloocan-UCC.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; */

    


}

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;

}

.form {
    margin-left: 50%;
    margin-right: 50%;
    width: 250px;
    height: 380px;
    background: url(try3.jpg);
    background-size: cover;
    position: absolute;
    top: 100px;
    border-radius: 10px;
    padding: 25px;
    box-shadow: 0 4px 8px 0 rgba(247, 182, 3, 0.973), 0 6px 20px 0 rgba(247, 182, 3, 0.973);
}

.form h2 {
    width: 230px;
    font-family: 'Noto Sans Symbols', sans-serif;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    color: white;
    font-size: 22px;
    border-radius: 10px;
    margin: 2px;
    padding: 8px;



}

.form input {
    width: 240px;
    height: 35px;
    background: transparent;
    border-bottom: 1px solid white;
    border-top: none;
    border-right: none;
    border-left: none;
    color: white;
    font-size: 15px;
    letter-spacing: 1px;
    margin-top: 30px;
    font-family: sans-serif;
}

.form input:focus {
    outline: none;
}

::placeholder {
    color: white;
    font-family: arial;
}

.button {
    width: 240px;
    height: 40px;
    background: #daa520;
    border-radius: 10px;
    border: none;
    margin-top: 30px;
    font-size: 18px;
    font-family: fantasy;
    transition: 0.4s ease;
    opacity: .5;
    box-shadow: 0 4px 8px 0 rgba(15, 11, 0, 0.973), 0 6px 20px 0 rgba(247, 182, 3, 0.973);


}

.button:hover {
    background: goldenrod;
    color: black;
    opacity: .9;
}

.button a {
    text-decoration: none;
    color: white;
}

.button:hover a {
    color: black;
}

.form .link {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    padding-top: 20px;
    text-align: center;
    color: white;
    font-weight: bold;
}

.form .link a {
    text-decoration: none;
    color: goldenrod;

}

img {
    border-radius: 100%;
    z-index: 1;
    position: absolute;
    top: -80px;
    left: 100px;
    box-shadow: 0 4px 8px 0 rgba(247, 182, 3, 0.973), 0 6px 20px 0 rgba(247, 182, 3, 0.973);
}
.change{
    text-align: center;
    align-items: center;
    justify-content: center;

}

.change a {
    text-decoration: none;
}

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Symbols&family=Roboto&display=swap');